// ionclude all your related style here in the header, you can leave it empty if the page has no header

.ease,a,input[type="submit"],button { @include transition(all 0.5s ease); }


.menu {
	margin: 15px 0 20px;

	ul {
		text-align: center;

		li {
			display: inline-block;
			margin: 0px 3px;
			text-align: center;

			a {
				padding: 8px 15px;
				text-align: center;
				display: block;
				border-radius: 0;
				box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0);

				color: $coWhite;
				background: #b41212;
			}

			&.active {

				a {
					/*box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.2);*/
					background: #f2f2f2;
					color: #000;
					/*border-bottom: 3px solid lighten($coRed, 10%) !important;*/
				}
			}
		}
	}
}